
 <style>
     .smalltext {
        
        color: white !important; 
        
     }
     .lboxsmall {
         left: 10px;
     }
     .rboxsmall{
        left: 10px;
     }
     
 </style>
 {{#each children}}
                
                <li id="mylist">
                    {{#equal this.type 'directory'}}
                        <span class="caret">
                            {{this.name}}
                        </span>
                    {{/equal}}
                    {{#equal this.type 'file'}}
                    <div class="row">

                        <div class="col-md-6 bg-warning border rounded  filediv p-1 m-1 " >
                            <div class="row">
                                <div class="col-md-6 p-1 m-1 border rounded lboxsmall">
                                    <img class="card-img img-fluid mx-auto" src="/images/thumbnail/{{formatImg this.name}}-thumbnail-650x350-0001.png" alt="Card image">
                                </div>
                                <div class="col-md-5 m-1 p-1 border rounded rboxsmall">
                                     <h6 class="bg-danger text-left">{{formatMe this.name}}</h6>
                         
                                        <!-- Call route to show all videos in this category-->
                                    <form action="/courses/play" method="post" >
                                        <input type="hidden" name="path" value="{{this.path}}">
                                        <input type="hidden" name="filename" value="{{this.name}}">
                                        <button class="btn btn-primary "> 
                                            Play Video
                                        </button>
                                    </form>
                                </div>
                            </div>
                               

                        </div>
                        
                    </div>
                    {{/equal}}
                    
                    {{#if this.children}}
                        {{#if this.children.length}} <i class="fa fa-folder"></i>
                        (
                            <a href="#">
                            {{this.children.length }} items
                        </a>
                        )
                        
                        {{/if}}
                        <ul  class="nested" id="myull">
                            {{>list}}
                        </ul>
                    {{/if}}
                </li>
            
            {{/each}}
