
{{#if user}}
    <div class="row container-fluid">
        {{#each videoGroup}}
        <div class="col-md-12" id="col{{@index}}" >
            
                
                    <button data-toggle="collapse" data-target="#demo{{@index}}">{{this.folder}}</button>
                    <div id="demo{{@index}}" class="collapse">
                         <ol>
                             <li>ID: {{this.id}}</li>
                             <li>PID: {{this.parentid}}</li>
                        {{#each this.files}}
                           
                                <li> <a href=""> {{this}}</a></li>
                          

                        {{/each}}
                        </ol>
                        <ol>
                            <h3>Children</h3>
                        {{#each this.children}}
                           
                                <li> <a href=""> {{this}}</a></li>
                          

                        {{/each}}
                        </ol>
                    </div>
               
                
        </div>
         {{/each}}
        
    </div>
        
{{else}}
     <div class="alert alert-danger">Please login</div> 
{{/if}}