
<style>
    .txt-format {
        white-space: nowrap; 
        width: 300px; 
        overflow: hidden;
        text-overflow:ellipsis;
    }

</style>

{{#if user}}
    
    <div class="row container-fluid  " >
       <div class="col-md-8">
           <div class="card">
                <video class="bd-placeholder-img card-img-top" id="videoid" poster="/images/thumbnail/{{filename2}}-thumbnail-650x350-0001.png"
                    controls="controls"  preload="metadata" >
                     <source  src="/video?path={{vpath}}" type="video/mp4">
                    
                    Your browser does not support video html 5 video tag
                </video>
                <div class="card-body">
                    <p class="card-text" id="videotitle">{{{filename}}}</p> <!-- formatMe is a custom helper -->
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted" id="vid-0"></small>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-md-4">
            <h5 id="{{title}}"> {{title}} Play List </h5>
            <div class="card rside bg-dark text-white mb-1" onclick='playMe("{{vpath}}")'>
         
                <img class="card-img" src="/images/thumbnail/{{formatImg filename}}-thumbnail-650x350-0001.png" alt="Card image">
                <div class="card-body bg-light text-dark">
                    <p class="card-title txt-format text-muted ">{{formatMe filename}}</p>
                    <small class="card-text txt-format">Description</small>
                    <small class="card-text">Duration</small>
                </div>
            </div>
            <hr>
            {{#each files}}   
            <div class="card rside bg-dark text-white mb-1" onclick='playMe("{{this.path}}")'>
         
                <img class="card-img" src="/images/thumbnail/{{formatImg this.name}}-thumbnail-650x350-0001.png" alt="Card image">
                <div class="card-body bg-light text-dark">
                    <p class="card-title txt-format">{{formatMe this.name}}</p>
                    <small class="card-text txt-format">Description</small>
                    <small class="card-text">Duration</small>
                </div>
            </div>
            {{/each}}
            <!--
                <div class="card rside text-white bg-primary mb-1 " onclick='playMe("{{vpath}}")'>
                    <div class="card-header">{{@index}}</div>
                    <div class="card-body">
                        <h6 class="card-title text-white">{{formatMe filename}}</h6>
                        <small class="card-text text-warning">Description: </small>
                        <small class="card-text text-warning">Duration </small>
                    </div>
                </div>
            
                {{#each files}}
                   
                        <div class="card rside text-white bg-primary mb-1 " onclick='playMe("{{this.path}}")'>
                            <div class="card-header">{{@index}}</div>
                            <div class="card-body">
                                <h6 class="card-title text-white">{{formatMe this.name}}</h6>
                                <small class="card-text text-warning">Description: </small>
                                <small class="card-text text-warning">Duration </small>
                            </div>
                        </div>
                   
                {{/each}} -->
        </div>
    </div>
        
{{else}}
     <div class="alert alert-danger">Please login</div>
     
{{/if}}

